<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CubeEnc_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CubeEnc_UI.Properties.Settings>
            <setting name="LastFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EncoderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SameFileCB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SameFolderCB" serializeAs="String">
                <value>False</value>
            </setting>
        </CubeEnc_UI.Properties.Settings>
    </userSettings>
</configuration>